@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
  --background: #ffffff;
  --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

[contentEditable="true"].single-line {
  white-space: nowrap;
  overflow: hidden;
}
[contentEditable="true"].single-line br {
  display:none;
}
[contentEditable="true"].single-line * {
  display:inline;
  white-space:nowrap;
}
